###
# Environment Variables
##

# Add the bins to the path
export PATH=./bin:./vendor/bin:$PATH

# Set the act spring profiles
export SPRING_PROFILES_ACTIVE=local,file-config,dev
export SERVICES_MOVIES_POPULATE=true
export SERVICES_BOOKS_POPULATE=true

# .envrc
